<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\User\Documents\GitHub\TournementTracker\TournamentTrackerData"/>
    <add key="greaterWins" value="1"/>
    <add key="senderDisplayMail" value="Bruno"/>
    <add key="senderEmail" value="brunpersilva@gmail.com"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Data Source=DESKTOP-LFU4RFH;Initial Catalog=Tournaments;Integrated Security=True" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="NetWork">
        <network host="127.0.0.1" userName="Bruno" password="test" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>